.nav-bar-container{
    min-width: 1200px;
    margin: auto;
    border: 1px solid seagreen;
    height: 200px;
}

.nav-top {
    min-width: 100vw;
    height: 100px;
    background-color: #232f3e;
    border: 1px solid yellow;
}

.nav-logo-container{
    float: left;
    width: 180px;
    border: 1px solid red;
    padding: 10px 20px;
    display: inline-block;
}
.nav-logo{
    background-image: url(./../../assets/amz-nav-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 130px;
    height: 35px;
    position: relative;
}
.logo-link-span{
    position: absolute;
    top: 18px;
    left: 90px;
}
.logo-link {
    color: white;
    white-space: nowrap;
}

.search-bar-container {
    width: 500px;
    float: left;
    border: 1px solid white;
}