.nav-bar-container {
    min-width: 1200px;
    width: 100vw;
}

@media screen and (min-width: 1024px) {
    .nav-bar-container {
    min-width: 1024px;
    width: 100vw;
    }
}

@media screen and (min-width: 1280px) {
    .nav-bar-container {
    min-width: 1280px;
    width: 100vw;
    }
} 
@media screen and (min-width: 1366px) {
    .nav-bar-container {
    min-width: 1366px;
    width: 100vw;
    }
}


.nav-bar {
     display: flex;
    flex-direction: column; 
}
.nav-top {
     display: flex;
    align-items: center; 
    height: 50px;
    background-color: #232f3e;
}
.nav-logo-container {
    width: 100px;
    height: 20px; 
    padding: 10px 60px 10px 20px;
}
.nav-logo {
    background-image: url(./../../assets/amz-nav-logo.png);
    background-size: contain; 
    width: 112%;
    height: 140%;
    background-repeat: no-repeat;
    z-index: 1;
    position: relative;
}
.logo-link-span {
    white-space: nowrap;
    color: white;
    position: absolute;
    font-size: .7em;
    top: 14px;
    left: 66px;
}
.logo-link{
    color: #48a3c6;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.search-bar-container {
    /* width: 450px; */
    margin: 4px;
    border-radius: 6px;
    padding-top: 11px;
    position: relative;
}

.nav-search-dropdown {
    width: 40px;
    height: 36px;
    border-radius: 6px 0px 0px 6px; 
    border: none;
    background-color: #dadada;
    font-size: 15px;
    padding: 6px 0px;
    color: rgba(0,0,0,.5)
}
#search-bar{
    height: 34px;
    width: 370px;
    border: none;
    outline: 0;
    font-size: 15px;
 
}
#search-btn {
    height: 36px;
    width: 35px;
    background-color: #febd69;
    border: none; 
    border-radius: 0px 6px 6px 0px;
    cursor: pointer; 
}
#search-btn:hover{
    background-color: #f3a847;
}
.search-icon {
    font-size: 18px;
    padding: 6px;
    color: rgba(0,0,0,.7);
}
.top-nav-promo {
    font-family: arial, sans-serif;
    color: white;
    font-size: 28px;
    padding-top: 11px;
    padding-right: 20px;
    margin: 12px;
    white-space: nowrap;
}

.nav-bottom{
     display: flex;
    align-items: flex-end; 
    height: 50px; 
    background-color: #232f3e;

}
.dp-container {
     display: flex;
    justify-content: center;
    align-items: center; 
    color: white;
    font-weight: 700;
    font-size: 14px;
    padding: 0px 30px 0px 10px;
}

.dp-btn{
    border: 1px solid transparent;
    padding: 8px;
    border-radius: 4px;
}
.dp-btn:hover {
    border: 1px solid #ccc;
    cursor: pointer;
}
.bottom-nav-link {
     display: flex;
    justify-content: center; 
    align-items: center;
    width: 33%;
    padding: 10px 15px 10px 40px;
    font-family: arial, sans-serif;

}
.link-1{
    color: #ccc;
    font-size: 12px;
    text-decoration:none;
    white-space: nowrap;
}
.link-1:hover{
    text-decoration: underline;
}
.link-2 {
    padding-left: 12px;
    font-size: 12px;
    color: #ccc;
    text-decoration: none;
    white-space: nowrap;
}
.link-2:hover {
    text-decoration: underline;
}
.language-container {
    padding-left: 6px;
}
.language {
     padding: 6px;
     display: flex; 
     flex-direction: column; 
    border: 1px solid transparent;
    position: relative;
    padding: 2px 14px 2px 14px;
    font-family: arial, sans-serif;
}
.language:hover{
    border-color: #ccc;
    border-radius: 4px;
    cursor: pointer;
    
    
}
.lang-text{
    color: #ccc;
    font-size: 12px;
}

.fa-globe{
    color: white;
    font-size: 18px;
}
.wd{
    color: #ccc;
    position: absolute;
    left: 34px;
    top: 16px;
    font-size: 12px;
    
}

.nav-separator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 4px;
}
.nav-bottom-link-separator{
    width: 1px;
    height: 70%;
    margin-top: 4px;
    border: none;
    border-left: 1px solid #ccc;
}

.account-list-container {
    padding: 0px 4px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-family: Arial, sans-serif;
}
.account-list-container:hover {
    border: 1px solid #ccc;
    cursor: pointer;
}
.account-top-title{
    text-align: left;
    color:#ccc;
    font-size: 12px;
}

.account-bottom-title{
    font-size: 14px;
    color:white;
    font-weight: 700;
    padding-bottom: 8px;
}

.orders-btn{
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 0px 8px;
}
.orders-btn:hover {
    border: 1px solid #ccc;
    cursor: pointer;
}
.orders-text {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color:white;
    font-weight: 700;
    padding-bottom: 8px;
    padding: 8px 2px;
}
.try-prime-btn {
    padding: 0px 8px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.try-prime-btn:hover {
    border-color: #ccc;
    cursor: pointer;
}
.try-prime-text {
    font-size: 14px;
    color: white;
    font-weight: 700;
    padding: 8px 2px 8px 1px;

}

.cart-container {
    width: 90px;
    height: 85%;
    border: 1px solid transparent;
    padding: 0px 8px 0px 8px;
    border-radius: 4px;
    position: relative;
    /* display: flex;
    justify-content: center; */
    
}
.cart-container:hover {
    cursor: pointer;
    border-color: #ccc;
}
.cart-img {
    background-image: url(./../../assets/asset1.png);
    width: 70px;
    height: 40px;
    background-position-x: 10px;
    background-position-y: 46px;
    
    
}
.cart-text {
    position: absolute;
    top: 17px;
    left: 65px;
    font-family: Arial, sans-serif;
    color: white;
    font-weight: 700;
    font-size: 14px;
    
}
.cart-quantity {
    position: absolute;
    font-family: Arial, sans-serif;
    color: darkorange;
    font-weight: 700;
    top: 0;
    right: 50px;
}