* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  min-width: 100vw;
  margin: auto;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-width: 100vw;
  margin: auto;
}
